- name: "Determine MySQL root password based on environment"
  set_fact:
    mysql_root_password: >-
      {{
        (inventory_hostname in groups['production-db'])
          | ternary(mysql_root_password_prod, mysql_root_password_staging)
      }}

- name: Install MySQL server + python deps for MySQL ansible module
  apt:
    name:
      - mysql-server
      - python3-pymysql # This is to be able to use community.mysql modules as Ansible does not connect natively to MySQL clients
    state: present

- name: Ensure mysql is enabled and running
  service:
    name: mysql
    state: started
    enabled: true

- name: Check if MySQL root can login without password over socket
  ansible.builtin.command: >
    mysql -u root -S /var/run/mysqld/mysqld.sock -e "SELECT 1"
  register: mysql_root_pwless
  failed_when: false
  changed_when: false

- name: Set MySQL root password when currently passwordless
  ansible.builtin.command: >
    mysql -u root -S /var/run/mysqld/mysqld.sock
    -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH caching_sha2_password BY '{{ mysql_root_password }}';"
  when: mysql_root_pwless.rc == 0
  no_log: true

- name: Test root MySQL login
  community.mysql.mysql_query:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    query:
      - "SELECT 1"
  register: mysql_root_test
  no_log: true