- name: "Determine MySQL root password based on environment"
  set_fact:
    mysql_root_password: >-
      {{
        (inventory_hostname in groups['production-db'])
          | ternary(mysql_root_password_prod, mysql_root_password_staging)
      }}
    db_password: >-
      {{
        (inventory_hostname in groups['production'])
          | ternary(db_password_prod, db_password_staging)
      }}

- name: Create application database
  community.mysql.mysql_db:
    name: "{{ db_name }}"
    login_user: root
    login_password: "{{ mysql_root_password }}"
    state: present

- name: Ensure application DB user exists with correct password & plugin
  community.mysql.mysql_query:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    query:
      - "CREATE USER IF NOT EXISTS '{{ db_user }}'@'%'
           IDENTIFIED WITH caching_sha2_password BY '{{ db_password }}';"
      - "ALTER USER '{{ db_user }}'@'%'
           IDENTIFIED WITH caching_sha2_password BY '{{ db_password }}';"
      - "GRANT ALL PRIVILEGES ON {{ db_name }}.*
           TO '{{ db_user }}'@'%';"
  no_log: true

- name: Copy SQL schema to db server
  ansible.builtin.copy:
    src: files/schema.sql
    dest: /tmp/schema.sql
    mode: "0644"

- name: Import schema into database
  community.mysql.mysql_db:
    name: "{{ db_name }}"
    state: import
    target: /tmp/schema.sql
    login_user: root
    login_password: "{{ mysql_root_password }}"

- name: Bind MySQL to all interfaces for remote access
  lineinfile:
    path: /etc/mysql/mysql.conf.d/mysqld.cnf
    regexp: '^bind-address'
    line: "bind-address = {{ mysql_bind_address }}"

- name: Restart mysql
  ansible.builtin.service:
    name: mysql
    state: restarted