- name: Install PHP-FPM and dependencies
  ansible.builtin.apt:
    name:
      - php-fpm
      - php-mysql
    state: present

- name: Ensure PHP-FPM service is started and enabled
  ansible.builtin.service:
    name: php-fpm
    state: started
    enabled: yes
