- name: "Install Nginx"
  ansible.builtin.apt:
    name: nginx
    state: present
    enable: true

- name: "Ensure Apache is stopped"
  ansible.builtin.service:
    name: apache2
    state: stopped
    enabled: no

- name: "Start Nginx"
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes

- name: "Deploy Hello World page"
  ansible.builtin.copy:
    src: ../../files/test/hello-world.html
    dest: /var/www/html/index.html

- name: "Hello world page deployed"
  assert:
    that:
      - ansible.builtin.uri:
          url: http://127.0.0.1
          return_content: yes
            .content | search("Hello, World!")
    msg: "Hello World page is not deployed correctly, check manually."